@charset "utf-8";
*{margin:0px;padding:0;list-style-type:none;}

img{border:none;}

/* zoom-section */
.zoom-section{clear:both;margin-top:20px;margin:0 auto;position:relative;}
.zoom-desc{float:left;margin-left:0px;margin-bottom:20px;position:absolute;top:406px;width: 408px;
	height: 60px;}
.zoom-desc span{float: left;

	height: 60px;
	line-height: 58px;
	width: 12px;	
	border: 1px solid #ccc;
	cursor: pointer;
	display:
	}
.zoom-desc span.disable{
	cursor: default;
	background: #ccc;
}

.zoom-desc .small{float: left;
	height: 62px;
	width: 374px;
	/*width: 278px;*/
	/*background: #f00;*/
	position: relative;
	overflow: hidden;}
.zoom-desc .small div{
    width: 900px;
	/*background: #f00;*/
	position: absolute;
	left: 0;
	top: 0;
}
.current{
	border:1px solid #FF4400;
}
.zoom-desc .small div a{width:60px;height:60px;float:left;margin-left:2px}
.zoom-desc .small div img{width:58px;height:58px;float:left;} 
.zoom-small-image{float:left;margin-bottom:20px;position:absolute;width:400px;height:400px;top:-2px;border:1px solid #ccc}
.zoom-small-image img{width:400px;height:400px}
.zoom-tiny-image{border:1px solid #CCC;margin:0px;}
.zoom-tiny-image:hover{border:1px solid #FF4400;}

/* 这是下方的鼠标指针的移动镜头平方米。 */
.cloud-zoom-lens {border: 1px solid #888;
margin:-1px;
background-color:#fff;
cursor:move;
}
/* 这是缩放窗口。 */
.cloud-zoom-big {border:1px solid #ccc;
overflow:hidden;
}
/* 这是加载消息。 */
.cloud-zoom-loading {color:white;background:#222;
padding:3px;
border:1px solid #000;
}